.container{
  padding: 30px
}
.popUpController{
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
}
.popUpFormController{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.btnStyle{
  margin-top: 20px
}
#btnStyle1{
  margin-left: 10px
}
.deleteStyl{
  margin-left: 20px
}